*{
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

h1{
    color: #ff1900;
}
h2 {
    text-decoration: underline;
}
h2:nth-of-type(1) { /* N elemento del tipo (primer elemento de tipo h2) */
    color: #aaaaaa;
    
}
h2:nth-of-type(2) {
    color: darkgray
}
h2:nth-of-type(3) {
    color: grey;
}
h2:nth-of-type(4) {
    color: black;
}

#benicio{
    background-color: green;
    color: white;

}

#denis{
    background-color: aqua;
}

#vinnie{
    background-color: brown;
    color: aqua;
}

#rade{
    background-color: greenyellow;
    color: brown;
}

h2 ~ ul li a {
    color: green;
    text-transform: uppercase;
}
